<a href='/bookmarks/new'> Add bookmark </a>

<ul>
<% sorted_bookmarks =  @bookmarks.sort { |a,b| a.genre.downcase <=> b.genre.downcase } %>
<% sorted_bookmarks.each do | bookmark | %>
  <li>
    <%= bookmark.url %>
    <br>
    <%= bookmark.name %>
    <br>
    <%= bookmark.genre %>
    <a href='/bookmarks/<%=bookmark.id%>/edit'> edit </a>
    <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
      <button> delete </button>
    </form>
  </li>
<% end %>
</ul>

