<a href='/categories/new'> Add bookmark </a>

<ul>

<% sorted_categories =  @categories.sort { |a,b| a.genre.downcase <=> b.genre.downcase } %>


  <% sorted_categories.each do |category| %>
    <li>
      <%= category.url %>
      <br>
      <%= category.name %>
      <br>
      <%= category.genre %>
      <a href='/categories/<%=category.id%>/edit'> edit </a>
      <form action='/categories/<%=category.id%>/delete' method='post'>
        <button> delete </button>
      </form>
    </li>
  <% end %>
</ul>

